* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
  color: #5b2ca2;
  margin: 15px 0;
}

h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 35px;
  color: #5b2ca2;
  margin: 20px 0;
}

h4 {
  font-family: "Source Serif Pro", serif;
  font-size: 25px;
  color: #5b2ca2;
}

p {
  line-height: 1.8;
  margin: 20px 0;
}

.touppercase {
  text-transform: uppercase;
}

.small_text {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  color: #878589;
}

.gigantic_text {
  font-size: 100px;
  color: #ffffff;
}

.white_btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #5b2ca2;
}
.white_btn:hover {
  background-color: #5b2ca2;
  color: #ffffff;
}

.purple_btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #5b2ca2;
  color: #ffffff;
}
.purple_btn:hover {
  background-color: #F0EDF5;
  color: #5b2ca2;
}

.img_container {
  position: relative;
  width: 48%;
  height: 100%;
  background-color: green;
}
.img_container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.box20 {
  width: 20%;
  height: 100%;
}

.box30 {
  width: 30%;
  height: 100%;
}

.box50 {
  width: 50%;
  height: 100%;
}

.box70 {
  width: 70%;
  height: 100%;
}

.box80 {
  width: 80%;
  height: 100%;
}

.img_container {
  position: relative;
}
.img_container:hover .overlap {
  opacity: 1;
}
.img_container .overlap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.img_container .overlap div {
  position: absolute;
  text-align: center;
}
.img_container .overlap div span {
  color: white;
}
.img_container .overlap h3, .img_container .overlap span {
  color: white;
}
.img_container .overlap h3:last-child, .img_container .overlap span:last-child {
  word-spacing: 30px;
}

.back_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
  background-color: rgba(91, 44, 162, 0.4);
  color: #ffffff;
  cursor: pointer;
  left: 0;
}
.back_arrow:hover {
  background-color: #5b2ca2;
}

.forward_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
  background-color: rgba(91, 44, 162, 0.4);
  color: #ffffff;
  cursor: pointer;
  right: 0;
}
.forward_arrow:hover {
  background-color: #5b2ca2;
}

.centered_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 60px;
}

.container {
  width: 100%;
  display: flex;
}

.sequenzal_box {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}
.sequenzal_box .top_row {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.sequenzal_box .top_row h1, .sequenzal_box .top_row span {
  color: #ffffff;
}
.sequenzal_box .bottom_row {
  width: 100%;
  display: flex;
  height: 50%;
}
.sequenzal_box .bottom_row div {
  width: 30%;
}
.sequenzal_box .bottom_row div span {
  font-size: 18px;
  color: #949494;
}
.sequenzal_box .bottom_row div p {
  color: #ffffff;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero-header-bakery.jpg");
  background-size: cover;
  margin-bottom: 150px;
}
header #top_header {
  content: "";
  display: table;
  clear: both;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 125px;
  padding: 0 30px;
}
header #top_header #header_left {
  float: left;
  width: 20%;
  height: 100%;
}
header #top_header #header_left div {
  width: 200px;
  height: 100%;
}
header #top_header #header_left div img {
  width: 80%;
}
header #top_header #header_right {
  float: left;
  width: 80%;
  height: 100%;
  line-height: 125px;
}
header #top_header #header_right ul {
  list-style: none;
}
header #top_header #header_right ul li {
  display: inline-block;
  margin-right: 5px;
}
header #top_header #header_right ul li a {
  text-decoration: none;
  color: #5b2ca2;
}
header #top_header #header_right ul {
  display: flex;
  flex-direction: row-reverse;
}
header #top_header #header_right ul li {
  cursor: pointer;
  height: 100%;
  margin-left: 20px;
}
header #top_header #header_right ul li:hover a {
  border-bottom: 2px solid #5b2ca2;
}
header #top_header #header_right ul li a {
  text-decoration: none;
}
header #top_header #header_right ul li a:hover {
  margin-bottom: 2px solid #5b2ca2;
}
header #box_jumbotron {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-200px);
  width: 450px;
  height: 400px;
}
header #box_jumbotron h1 {
  color: #5b2ca2;
}
header #box_jumbotron p {
  color: #878589;
  margin: 20px 0;
}

#products {
  width: 100%;
  margin-bottom: 150px;
  height: 650px;
  display: flex;
}
#products .box30 {
  padding: 10px;
  padding-right: 60px;
}
#products .box30 .purple_btn {
  margin-top: 70px;
}
#products .box70 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#special_events {
  width: 100%;
  margin-bottom: 150px;
}
#special_events .container {
  height: 700px;
  justify-content: space-between;
}

#shop {
  width: 100%;
  margin-bottom: 150px;
  height: 420px;
  display: flex;
  text-align: center;
}
#shop .box20 {
  text-align: center;
  padding: 10px;
}
#shop .box80 {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#shop .box80 .img_container {
  height: 80%;
  width: 22%;
  background-size: contain;
}

#tell_us {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  height: 800px;
  background-color: coral;
  background-image: url("../img/bakery-process-1.jpg");
  background-size: cover;
}
#tell_us .bottom_row {
  justify-content: flex-end;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}
footer #top_footer {
  display: flex;
  height: 80%;
  width: 100%;
}
footer #top_footer #left_footer {
  padding: 15px;
}
footer #top_footer #left_footer .logo {
  width: 300px;
  height: 200px;
}
footer #top_footer #left_footer .logo img {
  width: 80%;
}
footer #top_footer #left_footer ul {
  list-style: none;
}
footer #top_footer #left_footer ul li {
  display: inline-block;
  margin-right: 5px;
}
footer #top_footer #left_footer ul li a {
  text-decoration: none;
  color: #5b2ca2;
}
footer #top_footer #left_footer ul {
  margin-top: 30px;
  color: #5b2ca2;
}
footer #top_footer #left_footer ul li {
  margin-right: 40px;
}
footer #top_footer #left_footer ul li a i span {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 100%;
  margin-left: 7px;
  background-color: #D4CBE2;
}
footer #top_footer #right_footer {
  text-align: center;
}
footer #top_footer #right_footer input {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  margin-right: 5px;
  font-size: 18px;
}
footer #top_footer #right_footer button {
  height: 50px;
  width: 150px;
  border: none;
}
footer #bottom_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  padding: 20px;
}
footer #bottom_footer .social ul {
  list-style: none;
}
footer #bottom_footer .social ul li {
  display: inline-block;
  margin-right: 5px;
}
footer #bottom_footer .social ul li a {
  text-decoration: none;
  color: #5b2ca2;
}
footer #bottom_footer .social i {
  font-size: 18px;
  margin-left: 15px;
}
