@mixin clearFix {
  content: "";
  display: table;
  clear: both;
}
@mixin inlineUl {
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        text-decoration: none;
        color: $primaryTextColor;
      }
    }
  }
}
@mixin standardMain {
  width: 100%;
  margin-bottom: $margin150;
}
@mixin btnStructure {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
@mixin arrow_carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
  background-color: rgba(91, 44, 162, 0.4);
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: $primaryTextColor;
  }
}

//da aggiungere img ulrl al div interessato
@mixin mainH800BackgroundImg {
  display: flex;
  justify-content: space-between;
  height: 800px;
  background-size: cover;
  .bottom_row {
    align-items: flex-end;
  }
}
